
<html ng-app>
<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
  <link rel="import" href="1.html">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="trial.js"></script>
  <script src="test.js"></script>
  <link rel="stylesheet" href="trial.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
</head>
<body>
  <div class="todo-wrapper" ng-controller="TodoCtrl">
   
    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>

    <ul>
      <li ng-repeat="todo in todos">
        
        <span class="{{tododone}}">{{todo.text}}</span>
      </li>
    </ul>
    <form>

      <input class="add-input" placeholder="Add Title..." type="text" ng-model="todoText" ng-model-instant />
      <input <input class="add-des" placeholder="Add description..." type="text" ng-model="desc" ng-model-instant />
      
    </form>
    


    <button class="add-btn" ng-click="addTodo()" type="submit"><h2>Add</h2></button>
    <button class="clear-btn" ng-click="clearCompleted()">List</button>

    <ul>
      <li ng-repeat="tododescs  in tododesc">
        
        <span class="{{tododone}}">{{todescs.text}}</span>
      </li>
    </ul>

  </div>
</body>

</html>