/*@import "compass/css3";*/

body {
  background: #000080;
}

.todo-wrapper {
  background: #7FFF00;
  width: 100%;
}

h2 {
  font-size: 1.5m;
  
  font-family: megrim, fantasy;
  background: #7FFF00;
  padding: 40px;
  margin: 0;
  color: #333;
  text-align: center;
}
.emphasis {
  font-family: vast-shadow, sans-serif;
  font-size: 1em;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  font-family: megrim, fantasy;
  font-size: 1em;
  padding: 10px;
  
  background: #65d8cb; /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#65d8cb), to(#72f4e9));
  background: -webkit-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -moz-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -o-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: linear-gradient(#65d8cb 0%, #72f4e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d8cb', endColorstr='#72f4e9',GradientType=0 );
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

li input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.add-input {
  width: 50%;
  height: 20px;
  float: left;
  border: none;
  padding: 20px 0;
  font-size: 2em;
  font-family: megrim, fantasy;
  text-indent: 55px;

}
.add-des{
  width: 50%;
  height: 20px;
  float: left;
  border: none;
  padding: 20px 0;
  font-size: 2em;
  font-family: megrim, fantasy;
  text-indent: 55px;

}

.clear-btn {
  width: 100%;
  border: none;
  height: 100px;
  background: #13756D;
  font-size: 1em;
  font-family: megrim, fantasy;
  color: #aaa;
}



.add-btn {
  width: 100%;
  border: none;
  /*height: 10px;*/
  background: #13756D;
  font-size: 1em;
  font-family: megrim, fantasy;
  color: #aaa;
  
}